.header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 3rem;
    margin-left: 5rem;
    margin-right: 5rem;

    .commonButton {
        height: 3.2rem;
        width: 10rem;
        border-radius: 25px;
        background-color: #152938;
        color: white
    }

    .commonButton:hover {
        background-color: #FDA214;
        color: white;
    }
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.grid {
    display: flex;
    gap: 1rem;


    .numIcons {
        height: 4rem;
        width: 4rem;
        border-radius: 100%;
        background-color: #152938;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 1rem;

    }

    .selected {
        background-color: #FDA214;
    }

    .matched {
        background-color: #4BB543;
        color: white;
        /* Change text color to white for matched pairs */
    }

    .numIcons:hover {
        background-color: #315f83;
        cursor: pointer;
    }

    .numIcons:active {
        background-color: #FDA214;
        cursor: pointer;
    }
}


.footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    gap: 20rem
}

.footerContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 12rem;
    border-radius: 10px;
    background-color: #BCCED9;
    color: rgb(53, 53, 53);
}